body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray;
}

.page {
    width: 90%;
    max-width: 1200px;
    background-color: white;
    margin: auto;
    padding: 50px;
}

h1 {
    font-weight: 900;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.map-container {
    width: 70%;
}

.text-block {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    background-color: #f4f4f4;
    margin-bottom: 40px;
}

.right-text-box {
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    height: 100%; /* Ensures that the text box fills the column height */
}

.description-left {
    padding-right: 20px;
}

/* Ensure the charts and text box are in a row */
.pure-g .pure-u-1-3 {
    width: 33.33%; /* Each chart and text box take up 1/3 of the row */
    padding: 10px; /* Adding padding to avoid crowding */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.pure-g .pure-u-1-2 {
    width: 50%; /* For rows where you want a two-column layout */
    padding: 10px;
    box-sizing: border-box;
}